
.main-header{
    /* display: flex; */
    
}
.main-header-nav{   
    
    padding: .5rem;
    background-color:rgb(64, 170, 241);
    border-radius: 5px;
    
}
.main-header-item{    
    display: inline;
    
    padding-left: 2rem;
    
    
}
.main-header-item a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    
}
.main-header-item a:hover{
    text-decoration: none;
    color:rgb(16, 28, 137);
    font-weight: bolder;
}
.main{
    margin: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}